<div class="w-full h-full grid grid-rows-[min-content_1fr]">
  <app-home-navbar></app-home-navbar>
  <main class="px-16 overflow-y-auto">
    <section>
      <h2 class="text-text md:text-4xl text-3xl font-bold mt-16">
        Your Sparks
      </h2>
      <ul
        class="grid gap-3 mt-4 grid-cols-[repeat(auto-fill,_minmax(15rem,_1fr))]"
      >
        <app-new-spark-button role="listitem"></app-new-spark-button>
        @for (spark of personalSparks; track spark.id) {
        <app-spark-preview
          [name]="spark.name"
          [imageUrl]="spark.imageUrl"
          [id]="spark.id"
          type="personal"
          role="listitem"
        ></app-spark-preview>
        }
      </ul>
    </section>
  </main>
</div>
