<div
  class="h-full w-full grid grid-cols-1 grid-rows-[min-content_1fr] rounded-lg overflow-hidden"
>
  <div class="w-full py-2 px-3 flex gap-4 bg-background-200 items-center">
    <h2 class="text-text text-[1rem] font-bold">Console Output</h2>
    <button
      class="ml-auto py-1 px-2 rounded-md bg-background-400 text-text font-bold text-xs"
      (click)="onClear()"
    >
      Clear
    </button>
  </div>
  <div class="w-full h-full relative">
    <div
      class="h-full w-full bg-background-100 flex flex-col-reverse absolute inset-0 overflow-y-auto font-[monospace]"
    >
      <div class="flex flex-col">
        @for (item of consoleItems; track item) { @if (item.type === "log") {
        <div
          class="py-2 px-4 border-b-background-200 border-b-2 last:border-b-0"
        >
          <span class="text-text-600 text-base whitespace-pre-wrap">{{
            item.message
          }}</span>
        </div>
        } @else if (item.type === "error") {
        <div
          class="py-2 flex flex-col px-4 border-[rgb(240,0,0)] last:border-b-0 bg-[rgba(240,0,0,0.25)]"
        >
          <span
            class="text-[rgb(240,0,0)] text-base font-bold whitespace-pre-wrap"
            >{{ item.message }}</span
          >
          @if (item.lineNumber !== undefined && item.colNumber !== undefined) {
          <span class="text-[rgb(240,0,0)] text-base whitespace-pre-wrap"
            >{{ item.lineNumber }}:{{ item.colNumber }}</span
          >
          }
        </div>
        } @else if (item.type === "warn") {
        <div
          class="py-2 px-4 text-base border-[rgb(200,148,0)] border-b-2 last:border-b-0 bg-[rgba(240,168,0,0.25)]"
        >
          <span class="text-[rgb(200,148,0)] whitespace-pre-wrap">{{
            item.message
          }}</span>
        </div>
        }}
      </div>
    </div>
  </div>
</div>
