<div class="w-full h-screen grid grid-rows-[auto_1fr]">
  <app-editor-navbar></app-editor-navbar>
  <div class="w-full h-full p-4">
    <app-resizeable-container
      direction="row"
      (isDragging)="onDragChange($event)"
    >
      <app-resizeable-item
        [initialSize]="0.6"
        type="item"
        [maxSize]="0.8"
        [minSize]="0.3"
      >
        <div class="w-full h-full">
          <app-resizeable-container direction="column">
            <app-resizeable-item type="item" [initialSize]="0.5">
              <div class="w-full h-full">
                <app-resizeable-container>
                  <app-resizeable-item
                    type="item"
                    [initialSize]="0.5"
                    [minSize]="0.1"
                  >
                    <app-editor-panel
                      language="html"
                      (onSave)="onSave('html', $event)"
                      class="h-full max-h-full min-h-0"
                    ></app-editor-panel>
                  </app-resizeable-item>
                  <app-resizeable-item type="handle">
                    <div class="cursor-col-resize w-4 min-w-4"></div>
                  </app-resizeable-item>
                  <app-resizeable-item
                    type="item"
                    [initialSize]="0.5"
                    [minSize]="0.1"
                  >
                    <app-editor-panel
                      language="css"
                      (onSave)="onSave('css', $event)"
                    ></app-editor-panel>
                  </app-resizeable-item>
                </app-resizeable-container>
              </div>
            </app-resizeable-item>
            <app-resizeable-item type="handle">
              <div class="w-full h-4 cursor-row-resize"></div>
            </app-resizeable-item>
            <app-resizeable-item type="item" [initialSize]="0.5">
              <app-editor-panel
                language="javascript"
                class="md:col-span-2"
                (onSave)="onSave('javascript', $event)"
              ></app-editor-panel>
            </app-resizeable-item>
          </app-resizeable-container>
        </div>
      </app-resizeable-item>

      <app-resizeable-item type="handle">
        <div class="cursor-col-resize w-4 min-w-4"></div>
      </app-resizeable-item>
      <app-resizeable-item
        type="item"
        [initialSize]="0.4"
        [maxSize]="0.8"
        [minSize]="0.1"
      >
        <div class="w-full h-full">
          <app-resizeable-container
            direction="column"
            (isDragging)="onDragChange($event)"
          >
            <app-resizeable-item type="item" [initialSize]="0.7">
              <iframe
                title="output"
                name="output"
                sandbox="allow-scripts"
                width="100%"
                height="100%"
                class="border-0 bg-white z-0"
                [srcdoc]="fullCode | sanitizeHtml"
                [style]="{
              pointerEvents: resizingMode ? 'none' : 'auto',
            }"
              ></iframe>
            </app-resizeable-item>
            <app-resizeable-item type="handle">
              <div class="w-full h-4 cursor-row-resize"></div>
            </app-resizeable-item>
            <app-resizeable-item type="item" [initialSize]="0.3">
              <div
                class="absolute inset-0 pointer-events-none z-50"
                [style]="{
          display: resizingMode ? 'block' : 'none',
        }"
                (mousemove)="$event.stopPropagation()"
              ></div>
              <app-console-output
                [consoleItems]="consoleItems"
                (clearItems)="onClearConsole()"
              ></app-console-output>
            </app-resizeable-item>
          </app-resizeable-container>
        </div>
      </app-resizeable-item>
    </app-resizeable-container>
  </div>
</div>

<!-- <app-resizeable-container direction="row">
    <app-resizeable-item type="item" [initialSize]="4">
      <div class="w-full h-full bg-red-400"></div>
    </app-resizeable-item>
    <app-resizeable-item type="handle">
      <div class="w-8 h-full bg-gray-800"></div>
    </app-resizeable-item>
    <app-resizeable-item type="handle">
      <div class="w-12 h-full bg-gray-700"></div>
    </app-resizeable-item>
    <app-resizeable-item type="item" [initialSize]="2" [maxSize]="4">
      <div class="w-full h-full bg-yellow-400"></div>
    </app-resizeable-item>
    <app-resizeable-item type="item" [initialSize]="3" [maxSize]="4">
      <div class="w-full h-full bg-purple-600"></div>
    </app-resizeable-item>
    <app-resizeable-item type="handle">
      <div class="w-12 h-full bg-gray-600"></div>
    </app-resizeable-item>
    <app-resizeable-item type="item" [initialSize]="1">
      <div class="w-full h-full bg-orange-400"></div>
    </app-resizeable-item>
  </app-resizeable-container>
</div> -->
